{% extends 'main/base.html' %}

{% block title %}Семейная мастерская CanaryBird{% endblock %}
    {% load static %}
{% block extracss%}
    .home {
            background-color: #f3f0ef;

    }
{% endblock %}

{% block content %}
<button class="scroll-button" onclick="scrollToContact()"><a href="#contact" class="scroll-link">Свяжитесь с нами</a>
</button>

   <section class="welcome">
        <h2>Добро пожаловать в семейную мастерскую CanaryBird!</h2>
        <p>Мы с любовью и вниманием к деталям изготавливаем уникальные изделия из ротанга, которые добавят уют и гармонию в ваш дом и сад.</p>
    </section>



    <section class="products">
    <h3>Наши изделия</h3>
    <ol>
        <li>
                <h4>Кашпо из ротанга</h4>
            <p>Наши ротанговые кашпо — это идеальное сочетание эстетики и практичности. Каждый элемент уникален, и мы с радостью создадим для вас кашпо любого размера и формы. Они идеально подходят для домашних растений, а также могут стать прекрасным украшением вашего интерьера.</p>
        </li>

        <li>
                <h4>Корзины из ротанга</h4>
            <p>Изделия из ротанга — это не только стиль, но и функциональность. Наши корзины идеально подходят для хранения вещей, а также могут быть использованы для декора дома. Каждая корзина изготовлена вручную, что гарантирует её долговечность и уникальность.</p>
        </li>

        <li>
            <h4>Украшения для сада</h4>
            <p>Ваша дача или сад заслуживают внимания! Мы предлагаем эксклюзивные изделия из ротанга, которые идеально подойдут для украшения ваших зеленых уголков. Мы изготавливаем ротанговые вазы, декоративные элементы и уникальные аксессуары, которые придадут вашему саду неповторимый стиль и уют.</p>
        </li>
    </ol>

</section>
<section class="video">

    </section>

<section id="contact" class="contact">
        <h3>Свяжитесь с нами</h3>
        <p>У вас есть вопросы или особые пожелания по заказу? Мы с радостью ответим на все ваши вопросы. Напишите нам через <a href="https://vk.com/can_bird" target="_blank">ВКонтакте</a> или <a href="https://t.me/can_bird" target="_blank">Телеграм</a>, и мы поможем создать идеальные изделия для вашего дома или сада.</p>
    </section>

{% endblock %}
