{% extends 'main/base.html' %}
{% block title %}Продукция CanaryBird{% endblock %}
{% load static %}
{% block extracss%}
    .prod {
            background-color: #f3f0ef;

    }
{% endblock %}
{% block content %}
<h2>Наши изделия</h2>
<p>Мы рады предложить вам широкий выбор изделий из ротанга, которые могут стать украшением вашего дома, сада или дачи. Наша продукция сочетает в себе <strong>стиль</strong>, <strong>качество</strong> и <strong>долговечность</strong>.</p>

<div class="product-item">
    <h3><em>Кашпо из ротанга</em></h3>
    <p>Идеальное сочетание эстетики и практичности. Наши кашпо бывают разных форм и размеров, чтобы идеально вписаться в ваш интерьер. Они могут стать не только функциональным, но и стильным элементом вашего дома. <br/><strong>Превосходное качество</strong> гарантирует долговечность на долгие годы.</p>

    <div class="product-gallery">
        <img src="{% static 'images/gorshok.jpg'%}" alt="Кашпо из ротанга - фото 1">
       <img src="{% static 'images/gorshok2.jpg'%}" alt="Кашпо из ротанга - фото 2">

    </div>
</div>

<div class="product-item">
    <h3><em>Корзины из ротанга</em></h3>
    <p><strong>Корзины</strong>, выполненные вручную, могут служить как для хранения, так и для декора вашего дома. Каждая корзина уникальна и изготовлена с особым вниманием к деталям. <br/>Идеально подходят для хранения различных вещей или могут использоваться как стильный элемент интерьера.</p>
    <div class="product-gallery">
        <img src="{% static 'images/корзинка.jpg'%}" alt="Корзины из ротанга - фото 1">
                <img src="{% static 'images/img_1.png'%}" alt="Корзины из ротанга - фото 2">


    </div>
</div>

<div class="product-item">
    <h3><em>Украшения для сада</em></h3>
    <p>Наши декоративные элементы из ротанга придадут вашему саду или даче уют и неповторимый стиль. <strong>Создайте атмосферу</strong> с нашими изделиями, которые добавят гармонию и индивидуальность в ваш внешний декор. <br/>Каждое украшение из ротанга – это ручная работа, которая гарантирует <em>уникальность</em> каждого изделия.</p>

    <div class="product-gallery">
         <img src="{% static 'images/чубрики.jpg'%}" alt="Украшения для сада - фото 1">
        <img src="{% static 'images/чубрики2.jpg'%}" alt="Украшения для сада - фото 2">
    </div>
</div>
{% endblock %}
